/* Accept */
.accept {
  background: #38bc38;
  border: 1px solid #38bc38;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
margin-top: 0;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  align-self: center;
  justify-self: center;
  margin-top: -4px;
}

.accept:hover,
.accept:active {
  background-color: initial;
  background-position: 0 0;
  color: #38bc38;
}

.accept:active {
  opacity: 0.5;
}

/* Reject */
.reject {
  background: #e53f42;
  border: 1px solid #e53f42;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  align-self: center;
  justify-self: center;
  margin-top: -4px;
}

.reject:hover,
.reject:active {
  background-color: initial;
  background-position: 0 0;
  color: #e53f42;
}

.reject:active {
  opacity: 0.5;
}


.acceptrejectdiv{
  width: 350px;
height: 46px;
text-align: center;
align-items: center;
justify-content: center;
display: flex;

}