/* Nav */
.nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  margin: 40px;
  margin-top: 15px;
  margin-bottom: 0;
  height: 70px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  font-size: 20px;

}
.navtabs {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align:center;
  font-size: 20px;
}
.navitem {
  width: auto;
  text-decoration: none;
  color: #e52b51;
  font-weight: bold;
  border: 2px rgb(255, 255, 255);
}
.navitemtab.active{
  color: #e52b51;
}

.navitemtab {
  color: white;
  font-weight: bold;
}

.navitemPortal{
  width: auto;
  color: white;
  font-size: 20px;
}
.navitemPortal-right {
  padding-left: 5%;
}

.navitemPortalDiv{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-width: 2px;
  border-color: #e52b51;
  border-style:solid;
  border-radius: 60px;
}
.navitemPortalDiv:hover{
  background-color: #e52b513b;
  color: white;
}

.icon{
  font-size: 35px;
}
.icon:hover{
  color: #b9b4db66;
  font-size: 30px;
}

.icon2{

  font-size: 40px;
}
.icon2:hover{
  color: #b9b4db66;
  font-size: 35px;
}