@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Libre+Barcode+39+Text&family=Nuosu+SIL&family=Playball&family=Press+Start+2P&family=Sanchez&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu:wght@300;700&display=swap");
.userbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  width: 100%;
}
.background {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form-style {
  height: 380px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.form-style * {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form-style h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.label-style {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
.input-stylemain {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.input-stylemain::placeholder {
  color: #e5e5e5c1;
  font-family: "Ubuntu", sans-serif;
}
.input-style {
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  height: 50px;
  width: 380px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  border-width: 1px;
  border-radius: 10px;
  border-color: #e52b51;
  border-style: solid;
  margin-bottom: 28px;
}
::placeholder {
  color: rgba(128, 128, 128, 0.517);
  font-family: "Ubuntu", sans-serif;
}
.button-sign {
  margin-top: 20px;
  width: 100%;
  background-color: #e52b51;
  color: white;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  border-style: none;
}
.button-cancel {
  margin-top: 20px;
  width: 100%;
  color: #e52b51;
  background-color: #1b1b1b00;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  border-color: #e52b51;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.button-cancel:hover {
  background-color: #e52b5003;
}

.button-signx {
  margin-top: 20px;
  width: 100%;
  background-color: #ef7f96;
  color: white;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  border-style: none;
}
.deleteSpot {
  background-color: white;
  border-radius: 100%;
  z-index: 99;
  margin-left: 282px;
  margin-top: 10px;
  color: red;
  position: absolute;
  align-self: flex-start;
  font-weight: 900;
  font-size: 27px;
  cursor: pointer;
}
.icondivitem {
  display: flex;
  z-index: 99;
  flex-direction: row;
}
.l-color {
  color: black;
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
}
.l-color-tiny {
  color: black;
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
}
.l-color-tiny-image {
  color: black;
  text-align: left;
  font-size: 14px;
  margin-top: 3px;
  font-family: "Ubuntu", sans-serif;
}
/* SETTINGS STYLE */

.imageUserNameEdit {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.imageUserName {
  justify-content: flex-Start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: 2px;
}

.modalprofileImagediv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile {
  font-size: 30px;
  align-self: center;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}
.username {
  font-size: 30px;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  margin-right: 10px;
}
.profilelabels {
  font-size: 18px;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
.nooffersandrewardsplaceholder {
  font-size: 30px;
  color: black;
  font-family: "Ubuntu", sans-serif;
}
.destdownloads {
  font-size: 20px;
  color: black;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}
.deststamp {
  height: 100px;
  width: 50%;
  background-color: #e52b51;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 15px;
}
.deststamp:hover {
  cursor: pointer;
}
.deststampar {
  height: 100px;
  width: 50%;
  background-color: #e52b51;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-right: 15px;
  margin-left: 20px;
}
.deststampar:hover {
  cursor: pointer;
}

.deststamptitle {
  font-size: 40px;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
.deststampimage {
  width: 70px;
  height: 82px;
}

.deststamptitlesmall {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  color: #f1f1f1;
  align-self: flex-start;
  line-height: 25px;
}
.deststamptitlelarge {
  font-family: "Ubuntu", sans-serif;
  font-size: 55px;
  font-weight: 600;
  color: #f1f1f1;
  text-align: left;
  line-height: 30px;
  margin-left: 15px;
}
.deststamptitlesmallar {
  font-family: sans-serif;
  font-size: 25px;
  color: #f1f1f1;
  align-self: flex-end;
  line-height: 20px;
}
.deststamptitlelargear {
  font-family: sans-serif;
  font-size: 55px;
  font-weight: 600;
  color: #f1f1f1;
  text-align: right;
  line-height: 32px;
  margin-right: 30px;
}

.profileinfo {
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-align: left;
  align-self: center;
  align-content: center;
  justify-content: center;
}
.profileimageusername {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-bottom: 0;
}
.spotsNum {
  font-size: 30px;
  margin-top: 30px;
  margin-left: 12px;
  font-weight: bold;
}
.spotsTitle {
  font-size: 30px;
  margin-top: -10px;
  margin-left: 12px;
  /* fontWeight: "bold"; */
}
.edit {
  border-radius: 10px;
  position: absolute;
  margin-top: 360px;
  margin-left: 16%;
  background-color: #e7e7e7;
  border-radius: 50%;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
}
.bio {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin: 12px;
  margin-left: 0;
  color: black;
  word-wrap: break-word;
  margin-top: 0;
}
.biodiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  width: 300px;
}
.email {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: black;
  margin: 15px;
}
.emailnot {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: rgb(193, 20, 20);
  margin: 15px;
}
.emaildiv {
  margin-right: 100px;
}
.phone {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin: 12px;
  margin-left: 0;
  color: black;
  margin-top: 0;
}
.phonediv {
  margin-right: 100px;
}
/* .tripList {
  grid: 2px;
  grid-template: "c1 c2";
} */
.imageCard {
  /* alignSelf: "center"; */
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 10px;
  z-index: -1px;
  opacity: 0.8px;
}
.spotsList {
  background-color: #fffffc;
  height: 100%;
  width: 100%;
}
.spotsListContainer {
  background-color: #fffffc;
}

.reviewImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.star {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin: 8px;
  margin-bottom: 0;
  margin-right: 0;
}

.center-Review {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.center-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.review-name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}

.profileImage {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.modalprofileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.form-styleh {
  height: fit-content;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 35px;
}
.form-styleh * {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form-styleh h3 {
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.cardtitle {
  font-size: 5;
  color: grey;
}
.cardnum {
  font-size: 30;
  color: black;
}
.dashcard {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 35%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}
.dashcardDough {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 35%;
  border-radius: 10%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.dashcardBar {
  display: flex;
  flex-direction: row;
  width: 72%;
  height: fit-content;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}
.dash {
  font-size: 40px;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.codelabel {
  font-size: 30px;
  padding-top: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #bb2626;
}
.codelabelsecond {
  font-size: 30px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.codedest {
  font-size: 70px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #e52b51;
  width: 100%;
}
.myspotstext {
  font-size: 40px;
  padding-top: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.whitebackgrounddash {
  background-color: white;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}
.whitebackgroundspots {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.whitebackgroundprofile {
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 50px;
  padding-bottom: 280px;
}
.whitebackgroundcreate {
  align-self: center;
  background-color: white;
  padding: 30px;
  top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 65%;
  border-radius: 20px;
}
.whitebackgroundcreateoff {
  align-self: center;
  background-color: white;
  padding: 150px;
  top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 65%;
  border-radius: 20px;
}
.whitebackgroundcreateoffmy {
  align-self: center;
  background-color: white;
  padding: 150px;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 65%;
  border-radius: 20px;
}
.backgroundform {
  top: 0;
  background-color: white;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.radiotext {
  margin-right: 15px;
}
.radio {
  margin-right: 5px;
}
.formdiv {
  display: flex;
  flex-direction: row;
}
.firstdiv {
  margin-right: 50px;
}
.spotimagecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
}
.spotimage {
  align-self: center;
  width: 290px;
  height: 480px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #e52b51;
  object-fit: cover;
  margin-top: 20px;
}
.spotgallery {
  align-self: center;
  width: 450px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
  margin-top: 20px;
}
.spotgalleryad {
  align-self: center;
  width: 450px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
  margin-top: 20px;
}
.spotpagegallery {
  align-self: center;
  min-width: 450px;
  height: 300px;
  margin: 20px;
  margin-left: 0;
  border-radius: 20px;
  object-fit: cover;
}
.spotimagetext {
  align-self: center;
  width: 290px;
  height: 480px;
  margin: 10px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #e52b51;
  color: #e52b51;
  object-fit: cover;
  margin-top: 20px;
  padding-top: 220px;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.spotgallerytext {
  align-self: center;
  width: 100px;
  height: 30px;
  margin: 15px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #e52b51;
  color: #e52b51;
  object-fit: cover;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.imagechoose {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.spotgalleryholder {
  align-self: center;
  min-width: 450px;
  height: 300px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e52b51;
  color: #e52b51;
  object-fit: cover;
  margin-top: 20px;
  padding-top: 140px;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.spotgalleryholderad {
  align-self: center;
  min-width: 450px;
  height: 250px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e52b51;
  color: #e52b51;
  object-fit: cover;
  margin-top: 20px;
  padding-top: 110px;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}



.input-style-choose {
  font-family: "Ubuntu", sans-serif;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #e52b51;
  display: inline-block;
}
.input-style-choose :focus {
  background-color: red;
}
.labelchoose {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #e52b51;
  background-color: white;
  border-color: #e52b51;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.modalinfo {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #e52b51;
  background-color: white;
  border-color: #e52b51;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  align-self: center;
}

.closeinfomodal {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.categorydiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}
.editorg {
  color: #e52b51;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e52b51;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  cursor: pointer;
}
.settingsbuttons {
  color: white;
  border-style: none;
  border-width: 0px;
  background-color: #e52b51;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  padding-left: 20px;
  height: 50px;
  width: 255px;
  text-align: left;
  margin-bottom: 10px;
}

.logoutbutton {
  color: white;
  border-style: none;
  border-width: 0px;
  background-color: #e52b51;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  width: 10%;
  margin-right: 2%;
}

.buttonlogout {
  color: red;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.userlogoutedit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
}
.settingsmodal {
  font-size: 30px;
  align-self: center;
  color: #e52b51;
}
.settingsmodal:hover {
  cursor: pointer;
}

.reviewlabel {
  font-size: 30px;
  align-self: flex-start;
  color: black;
  font-family: "Ubuntu", sans-serif;
}
.reviewnamedate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.dashicon {
  font-size: 40px;
  margin: 30px;
  margin-left: 0;
  color: #e52b51cd;
}

.validation {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  color: greenyellow;
  margin-left: 10px;
}

.validationx {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  color: #ff3333;
  margin-left: 10px;
}
.validationy {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  color: white;
  margin-left: 10px;
}

.fontfamily {
  font-family: "Ubuntu", sans-serif;
}

.overlayfinished {
  background-color: rgba(0, 0, 0, 0.449);
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.overlayfinishedlabel {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}
.overlayfinishedlabel:hover {
  cursor: pointer;
}
