@import "./Style/ingredients.css";
@import "./Style/nav.css";
@import "./Style/Categories.css";
@import "./Style/AddRecipe.css";
@import "./Style/recipeItem.css";
@import "./Style/RecipePage.css";
@import "./Style/user.css";

body {
  background-color: #4831d4;
  /* C9FB5F */
}
.Welcome {
  color: #c9fb5f;
  font-size: 50px;
  font-family: sans-serif;
}
