@import "./Style/ingredients.css";
@import "./Style/nav.css";
@import "./Style/Categories.css";
@import "./Style/AddRecipe.css";
@import "./Style/recipeItem.css";
@import "./Style/RecipePage.css";
@import "./Style/user.css";
@import "./Style/offers.css";
@import "./Style/Ads.css";
@import "./Style/application.css";
@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Libre+Barcode+39+Text&family=Nuosu+SIL&family=Playball&family=Press+Start+2P&family=Sanchez&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu:wght@300;700&display=swap");

body {
  background-color: #e52b51;
  background: rgba(0, 0, 0, 0.65) url("./background1.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.Welcome {
  color: white;
  font-size: 45px;
  text-justify: inter-word;
  align-self: center;
  font-family: "Ubuntu", sans-serif;
  padding: 30px;
 font-size:  5vw;

}
.RegisterModal {
  align-self: center;


}
.welcomeformrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin: 6%;
 
}
.appdiv {
  height: 100%;
  width: 100%;
}

.whitebackground {
  background-color: white;
  padding: 30px;
  margin-top: "50%";
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
 bottom:0


}
.dashback {
  padding: 30px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.confirmation{
  color: #f1f1f1;
  font-size:  30px;
  text-align: center;
  align-self: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
  border-radius: 30px;
  height: fit-content;
  width: 750px;
  margin-top: 10%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.titleorg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e52b51;
  color: #f1f1f1;
  padding: 10px;
  margin-bottom: 0;
  font-family: "Ubuntu", sans-serif;
}
